*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease 0s;
}

/* LInks to good color pallets : */
/* 
 * https://colorhunt.co/palette/0820322c394b334756ff4c29
 * https://colorhunt.co/palette/14285027496d0c7b9300a8cc
 * https://colorhunt.co/palette/e7d9ea11698e19456b16c79a
 * https://colorhunt.co/palette/413c694a47a3709fb0a7c5eb
 * https://colorhunt.co/palette/ffb319ffe194e8f6efb8dfd8
 * https://colorhunt.co/palette/23049daa2ee6ff79cdffdf6b
*/

body {
	background-color: #fff;
}

:root {
	--primary-color: #35b0cc;
	--primary-color-backdrop: #0c7b93;
	--primary-color-shadow: #27496d;
	--primary-color-light: #69dadb;

	/* Brown */
	--brown-color: #ca6702;
	--brown-color-backdrop: #ec7616;
	--brown-color-shadow: #e2a588;

	/* Yellow Color */
	--yellow-color: #ffb703;
	--yellow-color-backdrop: #fab221;
	--yellow-color-shadow: #fcbf49;
	--yellow-text-color: yellow;

	/* Green color */
	--green-color: #99d98c;
	--green-color-backdrop: #75c465;
	--green-color-shadow: #83b977;
	--green-text-color: rgb(63, 145, 47);

	--default-border-color: rgb(204, 204, 204);
}

.container-lg {
	width: 80%;
	margin: 0 auto;
}

.container-md {
	width: 60%;
	margin: 0 auto;
}

.container-sm {
	width: 50%;
	margin: 0 auto;
}

.btn {
	border-radius: 10px;
	padding: 0.8rem 2.5rem;
	font-size: 1rem;
	outline: none;
	border: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	margin: 0.2rem;
}

.btn:hover {
	background-color: rgb(231, 231, 231);
	color: black;
	transform: translateY(-7px);
}

.btn-lg {
	border-radius: 10px;
	padding: 1rem 3.5rem;
	font-size: 1.5rem;
	outline: none;
	border: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}

.btn-lg:hover {
	background-color: rgb(231, 231, 231);
	color: black;
	transform: translateY(-7px);
}

.btn-sm {
	border-radius: 10px;
	padding: 0.8rem 1.5rem;
	font-size: 0.8rem;
	outline: none;
	border: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}

.btn-sm:hover {
	background-color: rgb(231, 231, 231);
	color: black;
	transform: translateY(-7px);
}

.btn-brown {
	background-color: var(--brown-color);
	color: white;
}

.btn-brown:hover {
	background-color: var(--brown-color-backdrop);
	box-shadow: 0px 5px 20px var(--brown-color-shadow);
	color: #fff;
}

.btn-primary {
	background-color: var(--primary-color);
	color: white;
}

.btn-primary:hover {
	background-color: var(--primary-color-backdrop);
	box-shadow: 0px 5px 20px var(--primary-color-shadow);
	color: #fff;
}

.btn-warning {
	background-color: var(--yellow-color);
	color: white;
}

.btn-warning:hover {
	background-color: var(--yellow-color-backdrop);
	box-shadow: 0px 5px 20px var(--yellow-color-shadow);
	color: #fff;
}

.btn-success {
	background-color: var(--green-color);
	color: white;
}

.btn-success:hover {
	background-color: var(--green-color-backdrop);
	box-shadow: 0px 5px 20px var(--green-color-shadow);
	color: white;
}

.alert {
	padding: 0.9rem 0.9rem;
	border-radius: 5px;
	border: 1px solid var(--default-border-color);
}

.alert-primary {
	background-color: var(--primary-color-light);
	border: 1px solid var(--primary-color-backdrop);
	color: var(--primary-color-backdrop);
}

.alert-brown {
	background-color: var(--brown-color-shadow);
	border: 1px solid var(--brown-color-backdrop);
	color: var(--brown-color);
}

.alert-warning {
	background-color: var(--yellow-color);
	border: 1px solid var(--yellow-color-backdrop);
	color: var(--yellow-text-color);
}

.alert-success {
	background-color: var(--green-color);
	border: 1px solid var(--green-color-backdrop);
	color: var(--green-text-color);
}

.shd {
	box-shadow: 0px 5px 20px #e6e1de;
}

/* Badges */
.badge {
	padding: 0.5rem;
	background-color: darkgrey;
	width: fit-content;
	border-radius: 5px;
}

.badge-primary {
	background-color: var(--primary-color);
}

.badge-yellow {
	background-color: var(--yellow-color);
}

.badge-green {
	background-color: var(--green-color);
}

.badge-brown {
	background-color: var(--brown-color);
}
/* End of Badge */

/* Background Style */
.bg-primary {
	background-color: var(--primary-color);
}

.bg-yellow {
	background-color: var(--yellow-color);
}

.bg-green {
	background-color: var(--green-color);
}

.bg-brown {
	background-color: var(--brown-color);
}

@media only screen and (max-width: 599px) {
	.container-lg,
	.container-md,
	.container-sm {
		width: 90%;
	}
}
